/*Обнуление*/
*{padding: 0; margin: 0; border: 0}
button {cursor: pointer;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: inherit;}
/*--------------------*/

.top-block {
    background-image: url("../img/bg1.jpg");
    width: 1919px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__left-wrapper {
    display: flex;
}

.header__icon {
    padding: 50px 0px 0px 50px;
}

.header__logo {
    padding: 64px 0px 0px 115px;
    color: #ffffff;
    font-family: "Maven Pro";
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

nav ul{
    display: flex;
    /* Style for "Home" */
width: 560px;
height: 16px;
color: #ffffff;
font-family: "Maven Pro";
font-size: 16px;
font-weight: 500;
line-height: 19px;
}

nav ul li {
    margin-right: 60px;
    list-style-type: none;
}

.header__right-wrapper {
    display: flex;
}

.header__button {
    /* Style for "get starte" */
width: 84px;
height: 10px;
color: #ffffff;
font-family: "Maven Pro";
font-size: 12px;
font-weight: 700;
line-height: 32px;
text-transform: uppercase;
/* Text style for "get starte" */
letter-spacing: 0.6px;
}